* {
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url(https://images.wallpapersden.com/image/wxl-air-gear-girl-graphic_7427.jpg);
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 1080px;
}
.class {

}
h1 {
    
}
h2 {

}
div {
    
}
p {
    color:red;
    font-weight: bold;
}
.header {

}
.container {

}
.blockElements {

}
#defer_async {

}
#positionCss {

}
#displayCss {

}
#inlineDisplay {

}
#opacity {

}
#Z_Index {

}
#marginPadding {

}
#box_sizingBorder_box {

}
#resetNormalize {

}
#flexbox {

}
#trueFalse {

}
#recursion {
    
}
#prompt {

}
#switch {

}