* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}
body {
    font-family:"Arial",sans-serif;
    background-color: #FFF;
    margin: 0 auto;

}
h1 {
    
}
h2 {

}
h3{
    text-align: center;
    

}
 /* h3:hover{
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; 
}
  */
div {
    
}
/* .answer:hover { */
    /* text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.answer {
    padding : 10px;
    height: auto;
    border: 5px;
    position: relative; 
    background: #7fb8dd;
    text-align: left;
    border: 0.1px dashed black;
    /* opacity: 0.5; */
  } 
p {
    color:black;
    font-family: 'Germania One', cursive;

}
li {
    
}
.all{

    
}
.header {
    text-align: center;
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;

}
.questions{
    padding-left: 30px ;
    background: rgb(255, 255, 255);
    color: #FFF;
    border: 2px solid greenyellow;
    margin: 40px auto;
    padding: 2 30px;
    display: inline-block;
    height: auto;
    width: auto;
    position: relative;
    align-items: flex-start;
    z-index:9;
    opacity: 0.5;
    position: fixed;


}
.textContainer{
    padding: 50px 10px 10px 400px;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
      flex-direction: column;
      align-items:stretch;

}
.myOption {
    background: #FFF;

}
.blockElements {

}
#defer_async {

}
#positionCss {

}
#displayCss {

}
#inlineDisplay {

}
#opacity {

}
#Z_Index {

}
#marginPadding {

}
#box_sizingBorder_box {

}
#resetNormalize {

}
#flexbox {

}
#trueFalse {

}
#recursion {
    
}
#prompt {

}
#switch {

}