* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: sans-serif;
    background-color: #FFF;
    margin: 0 auto;

}
h1 {
    
}
h2 {

}
h3{
    text-align: center;
    

}
/* h3:hover{
    /*text-align: center;*/
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; 
}
} */
div {
    
}
/* .answer:hover { */
    /* text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.answer {
    padding: 10px;
    height: 150px;
    border: 1px;
    position: relative;
    background: #e7e6d4;
    text-align: left;
    border: 3px dashed #645a4e
  } 
p {
    color:black;
    font-weight: bold;

}
.questions{
    padding-left: 30px ;
    background: rgb(255, 255, 255);
    color: #FFF;
    border: 2px solid greenyellow;
    margin: 10px;
    display: inline-block;
    height: auto;
    width: auto;
    /* position: fixed;  */
    align-items: flex-start;

}
.header {
    text-align: center;
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;

}

.all{
    
}
.text{

}
.blockElements {

}
#defer_async {

}
#positionCss {

}
#displayCss {

}
#inlineDisplay {

}
#opacity {

}
#Z_Index {

}
#marginPadding {

}
#box_sizingBorder_box {

}
#resetNormalize {

}
#flexbox {

}
#trueFalse {

}
#recursion {
    
}
#prompt {

}
#switch {

}